#__next,
html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include body-text;
  font-family: $font-family;
  min-width: 320px;
  overflow-x: hidden;
  color: $dark;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media only screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

section {
  // scroll-margin-top: 170px;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.2s $timing-function;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.error {
  @include helper-text;
  color: $alert;
  position: absolute;
  top: calc(100% + 2px);
  left: 4px;
}

.body--modal-open {
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}
