/* COLORS */

$light: #ffffff;
$dark: #182358;

$accent-1: #4a59df;
$accent-2: #ff5093;

$secondary-text: #3e4462;
$secondary-grey-text: #a3acb9;

$info: #7c7c7c;
$secondary-bg: #eff2f6;

$alert: #e60d2e;
$warning: orange;
$success: #2b8803;

/* FONTS */

$font-family: 'Oxygen', 'Arial', sans-serif;
$font-family-2: 'Ubuntu', 'Arial', sans-serif;

/* timing-function */
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
